<div class="container view mb-3">
  <h1 class="view-title">Mi Perfil</h1>
  <div class="clearfix">
    <img
      class="col-3 bg-light img-perfil"
      src="/images/imagen.perfil.avif"
      class="col-md-6 float-md-end mb-3 ms-md-3"
      alt="Mi Perfil"
    />
  </div>
  <div class="col-sm-9 bg-light p-3 border">
    <form action="/users/{{user.id}}" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          value="{{user.name}}"
          name="name"
          class="form-control"
          id="name"
        />
      </div>

      <div class="mb-3">
        <label for="surname" class="form-label">Apellido</label>
        <input
          type="text"
          value="{{user.surname}}"
          name="surname"
          class="form-control"
          id="surname"
        />
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input
          type="number"
          value="{{user.phone}}"
          name="phone"
          class="form-control"
          id="phone"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          value="{{user.email}}"
          name="email"
          class="form-control"
          id="email"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          value="{{user.password}}"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
  </div>

</div>