<div class="container view mb-3">
  <h1 class="view-title mb-3">Mi Perfil</h1>

  <a href="/logout" class="btn btn-pink col-12 mb-3"><i class="fa bi-box-arrow-left"></i>Cerar sesión</a>
  <i class="fa fa-sign-out" aria-hidden="true"></i>


  <div class="card mb-4">
    <div class="card-header">
      <h1 class="view-title"><strong>Datos personales:</strong>
    </strong></h1>
    </div>
    <div class="card-body">
      <form action="/users/{{user.id}}" method="POST">
      <div class="input-group mb-4 mt-2">
        <span class="input-group-text back-icon"><i
            class="fa fa-user fa-fw"
          ></i></span>
        <input
          type="text"
          value="{{user.name}}"
          name="name"
          class="form-control"
          id="name"
        />
      </div>

      <div class="input-group mb-4"><span class="input-group-text back-icon"><i
            class="fa fa-user fa-fw"
          ></i></span>
        <input
          type="text"
          value="{{user.surname}}"
          name="surname"
          class="form-control"
          id="surname"
        />
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text back-icon"><i
            class="fa fa-mobile fa-fw"
          ></i></span>
        <input
          type="number"
          value="{{user.phone}}"
          name="phone"
          class="form-control"
          id="phone"
        />
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text back-icon"><i
            class="fa fa-envelope fa-fw"
          ></i></span>
        <input
          type="email"
          value="{{user.email}}"
          name="email"
          class="form-control"
          id="email"
        />
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text back-icon"><i
            class="fa fa-lock fa-fw"
          ></i></span>
        <input
          type="password"
          value="{{user.password}}"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <button class="btn btn-green col-12">Guardar cambios</button>
    </form>

    </div>
  </div>

  <div>
<<<<<<< HEAD

    <div class="card">
      <div class="card-header">
          <h1 class="view-title"><strong>Mis citas:</strong>
        </strong></h1>
        </div>
      <div class="card-body text-center">
              {{!-- {{#each users as |user|}}
                {{#ifDate ../user dates}}
                  {{#each ../dates as |date|}}
                    <div class="card">
                      <div class="card-header">
                        <h2 class="card-title">{{date.user.name}}</h2>
                      </div>
                      <div class="card-body">
                        <h3 class="card-subtitle">Servicio:</h3>
                        <p class="card-text">{{date.service.name}}</p>
                      </div>
                    </div>
                  {{/each}}
                {{else}}
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">No hay citas pendientes</p>
                  </div>          
                </div>
                {{/ifDate}}
            {{/each}} --}}
            {{#each dates as |date|}}
                {{#ifDate date ../currentUser}}                  
                    <div class="card mb-3">
                      <div class="card-header">
                        <h4 class="card-title">{{date.date}} | Turno: {{date.turn}}</h4>
                        <h2>Estado: <strong>{{date.dateState}}</strong>  </h2>
                      </div>
                      <div class="card-body">
                        <h4 class="card-subtitle">Servicio: {{date.service.name}}</h4>
                        <h5 class="">{{date.type}}</h5>
                        <h4>Precio: €{{date.price}}</h4>
                        <a href="/dates/{{date.id}}/deletGuest" class="btn btn-pink col-12">Cancelar cita</a>
                      </div>
                    </div>
                {{else}}
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">No tienes citas pendientes</p>
                  </div>          
                </div>
                {{/ifDate}}
            {{/each}}           
=======
    
      <div class="card">
        <a  class="btn btn-pink" href="dates/list/user"><h1><strong>Mis citas</strong></h1></a>
>>>>>>> f9d7ff130c11b82e2565805ead4975849282c588
      </div>
</div>