<div class="container">
  
  <h1 class="view-title mb-3">Registrate</h1>

  <div class="card">
    <div class="card-body">      

      <form action="/users" method="POST">
      
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <div class="input-group">
            <input
            type="text"
            value="{{user.name}}"
            name="name"
            class="form-control"
            id="name"
            />
            {{#if error.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}       
          </div>
        </div>

        <div class="mb-3">
          <label for="surname" class="form-label">Apellido</label>
          <div class="input-group">          
            <input
              type="text"
              value="{{user.surname}}"
              name="surname"
              class="form-control"
              id="surname"
            />
            {{#if error.surname}}<div class="invalid-feedback">{{errors.surname}}</div>{{/if}}  
          </div>
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <div class="input-group"><span class="input-group-text"><i class="bi bi-phone"></i></span>
            <input
              type="number"
              value="{{user.phone}}"
              name="phone"
              class="form-control"
              id="phone"
            />
          </div>
            {{#if error.phone}}<div class="invalid-feedback">{{errors.phone}}</div>{{/if}}  
        </div>     
        
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
            <input
              type="email"
              value="{{user.email}}"
              name="email"
              class="form-control"
              id="email"
            />
            {{#if error.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
          </div>          
        </div>
        

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">          
            <input
              type="password"
              value="{{user.password}}"
              name="password"
              class="form-control"
              id="password"
            />
            {{#if error.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}  
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
        </div>        

      </form>

    </div>    
  </div>
</div>