<div class="display-2 fw-bold text-black mb-4">
  <h1 class="view-title-ser"><strong>Servicios disponibles</strong></h1>
</div>

<hr />



<div class="card-container-services">
  {{#each services as |service|}}
    <div
      class="card mb-3 shadow-lg p-3 m-2 bg-body-tertiary rounded"
      id="services-container"
      style="max-width: 540px;"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{service.image}}"
            class="img-fluid rounded mx-1 my-1"
            alt="..."
          />
        </div>        
          <div class="card-body">
            <h2 class="card-title">{{service.name}}</h2>
            <p class="card-text">{{service.description}}</p>
            <h6>Puedes optar por terminaciones:</h6>
            <ul>
              {{#each service.type as |type|}}
                <li>{{type}}</li>
              {{/each}}
            </ul>
            <h2>Desde €{{service.price}} </h2>
            
            <a href="/services/{{service.id}}/schedule"
              class="btn btn-dor col-12 mt-3"
            >Solicitar cita</a>
          </div>    

      </div>

    </div>
  {{/each}}
</div>