<div class="container">

  <h1 class="view-title">Editar Cita</h1>


  <div class="card mb-3">
    <div class="card-body">

      <div class="mb-2">
        <h4>Cliente: {{date.user.name}} {{date.user.surname}}</h4>
        <h5>Día {{date.date}} - turno {{date.turn}}</h5>
        <h5>{{date.service.name}} {{date.type}}</h5>
        <p><strong>Detalles:</strong> {{date.designDetails}} </p>
      </div>

      <form
        action="/dates/{{date.id}}"
        method="POST"
        name="cita"
      >
        <div class="mb-3">          
          <label for="date" class="form-label">Selecciona un tipo de terminación</label>
          <select id="service" name="service" class="form-control">
            {{#each services as |service|}}
              <option id="{{service.name}}" value="{{service.id}}">{{service.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="mb-3">          
          <label for="date" class="form-label">Selecciona un tipo de terminación</label>
          <select id="type" name="type" class="form-control">
            {{#each date.service.type as |type|}}
              <option id="{{type}}" value="{{type}}">{{type}}</option>
            {{/each}}
          </select>
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Confirma el precio final</label>
          <input type="number" value="{{date.price}}" name="price" id="price" class="form-control">               
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Día</label>
          <input type="date" name="date" class="form-control" id="date" />
        </div>

        <div class="mb-3">
          <label for="turn" class="form-label">Selecciona turno</label>
          <select id="turn" name="turn" class="form-control">
            <option value="mañana" disabled>Por la mañana</option>
            <option  value="1">10 a 11 hs.</option>
            <option value="2">11 a 12 hs.</option>
            <option value="3">12 a 13 hs.</option>
            <option value="mañana" disabled>Por la tarde</option>
            <option value="4">16 a 17 hs.</option>
            <option value="5">17 a 18 hs.</option>
            <option value="6">18 a 19 hs.</option>
            <option value="7">19 a 20 hs.</option>
            <option value="8">20 a 21 hs.</option>
          </select>
        </div>

        <button type="submit" class="btn btn-green mt-3 col-12">Guardar cambios</button>
        
      </form>

      <a href="/dates/{{date.id}}/delet" class="btn btn-pink col-12">Eliminar cita</a>

    </div>   

  </div>

  <a href="/dates/list/pending" class="btn btn-green col-12">Volver atrás</a>
  

</div>

<script>
  const dates =
  {{{dates}}}
  const selectedDate = document.getElementById("date")
  selectedDate.addEventListener('change', function(event){ const selected =
  event.target.value const dayDates = dates.filter(x => x.date === selected)
  dayDates.forEach(date => { document.querySelectorAll(`option`).forEach( x => {
  x.removeAttribute("disabled") })
  document.querySelector(`option[value='${date.turn}']`).setAttribute("disabled",
  true) }) })
</script>

<script>
  const dateInput = document.getElementById('date'); const currentDate = new
  Date().toISOString().split('T')[0]; dateInput.min = currentDate;
</script>