<div class="view-container">
  <h1 class="view-title">Agenda</h1>

  <div class="form-container-planning">
    <form action="/dates/list/confirmedPlanning" method="get">
      <label for="fecha" class="form-label-planning"><stron>Selecciona:</stron></label>
      <input type="date" id="fecha" name="fecha" class="form-input" />
      <button type="submit" class="btn btn-pink">Buscar</button>
    </form>
  </div>

  <div class="dates-container">
    {{#each turns as |turn|}}
      <div class="turn-container">
        {{#dateInTurn ../dates turn}}
          {{#each ../dates as | date |}}
            {{#ifTurns date turn}}
              <div class="card">
                <div class="card body">
                  <div class="row align-items-center">
                    <div class="col ">
                      <div class="card body ">
                        <h6 class="card-text-plannig text-center"> | TURNO: {{turn}} |</h6>
                      </div>   
                    </div> 

                    <div class="col d-flex justify-content-center">
                      <div class="card-body align-items-center">
                        <h5 class="card-title text-center">{{date.user.name}}</h5>
                        <h6 class="card-subtitle text-center">Servicio:</h6>
                        <p class="card-text text-center ">{{date.service.name}}</p>
                      </div>
                    </div>        
                  </div>
                </div>         
              </div>
            {{/ifTurns}}
          {{/each}}        
        {{else}}
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <div class="card body">
                    <h6 class="card-text-plannig text-center"> | TURNO: {{turn}} |</h6>
                  </div>                  
                </div>
                
                <div class="col">
                  <div class="card body align-items-center">
                    <p class="card-text text-center">No hay citas confirmadas</p>
                  </div>                   
                </div>
                <div class="linea-vertical"></div>
              </div>
            </div> 
          </div>
        {{/dateInTurn}}
      </div>
    {{/each}}
  </div>

  <div class="button-container">
    <a href="/dates/list/confirmed" class="button-link">Volver atrás</a>
  </div>
</div>

<script>
  const dates =
  {{{dates}}}
  const selectedDate = document.getElementById("date")
  selectedDate.addEventListener('change', function(event){ const selected =
  event.target.value const dayDates = dates.filter(x => x.date === selected) })
</script>