<h1>Planning Citas</h1>

<div class="btn-group">
  <a href="/dates/list/confirmed" class="btn btn-primary">Volver atrás</a>
</div>

<form action="/dates/list/confirmedPlanning" method="get">
  <label for="fecha">Seleccionar fecha:</label>
  <button type="submit"><input type="date" id="fecha" name="fecha" /></button>
</form>

{{! <div class="mb-3">
      <form action="
      
      "></form>
    <label for="date" class="form-label">Día</label>
    <input type="date" name="date" class="form-control" id="date" />
    </div> }}

{{#each dates as |date|}}

  {{#isFirstTurn date}}
    <div class="card mb-6">
      <div class="card-body">
        <h6>Cliente:</h6>
        <p class="card-text inline">{{date.user.name}}</p>
        <h5 class="card-title mb-3">{{date.service.name}}</h5>
        <h5 class="card-title mb-3">{{date.designDetails}}</h5>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{date.id}}"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Detalles
          </button>
        </p>
        <div class="collapse" id="{{date.id}}">
          <div class="card card-body">
            <h6>Estado de manos:</h6>
            <img src="{{date.handState}}" class="card-img-top mb-3" alt="..." />
            <h6>Diseño deseado:</h6>
            <img
              src="{{date.desiredDesign}}"
              class="card-img-top mb-3"
              alt="..."
            />
            <h6>Detalles de diseño: </h6>
            <p class="card-text">{{date.designDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="card bg-light">
      <div class="card-body">
        Sin cita
      </div>
    </div>
  {{/isFirstTurn}}
  {{#isSecondTurn date}}
    <div class="card mb-6">
      <div class="card-body">
        <h6>Cliente:</h6>
        <p class="card-text inline">{{date.user.name}}</p>
        <h5 class="card-title mb-3">{{date.service.name}}</h5>
        <h5 class="card-title mb-3">{{date.designDetails}}</h5>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{date.id}}"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Detalles
          </button>
        </p>
        <div class="collapse" id="{{date.id}}">
          <div class="card card-body">
            <h6>Estado de manos:</h6>
            <img src="{{date.handState}}" class="card-img-top mb-3" alt="..." />
            <h6>Diseño deseado:</h6>
            <img
              src="{{date.desiredDesign}}"
              class="card-img-top mb-3"
              alt="..."
            />
            <h6>Detalles de diseño: </h6>
            <p class="card-text">{{date.designDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="card bg-light">
      <div class="card-body">
        Sin cita
      </div>
    </div>

  {{/isSecondTurn}}

{{/each}}

<script>
  const dates =
  {{{dates}}}
  const selectedDate = document.getElementById("date")
  selectedDate.addEventListener('change', function(event){ const selected =
  event.target.value const dayDates = dates.filter(x => x.date === selected) })
</script>