<div class="container view">


<h1>Planning Citas</h1>

<div class="btn-group">
  <a href="/dates/list/confirmed" class="btn btn-primary">Volver atrás</a>
</div>

<form action="/dates/list/confirmedPlanning" method="get">
  <label for="fecha">Seleccionar fecha:</label>
  <input type="date" id="fecha" name="fecha" />
  <button type="submit">enviar</button>
</form>

<div>
  {{#each turns as |turn|}}
<div>
  {{#dateInTurn ../dates turn}}
    {{#each ../dates as | date |}}
      {{#ifTurns date turn}}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{date.user.name}}</h5>
          <h6 class="card-title">Servicio: </h6>
          <p>{{date.service.name}}</p>
        </div>
      </div>
      {{/ifTurns}}
    {{/each}}
    
  {{else}}
  <div class="card mb-3">
    <div class="card-body">
      no hay cita en turno {{turn}}
    </div>    
    
  </div>
  {{/dateInTurn}}
</div>
{{/each}}
</div>




<script>
  const dates =
  {{{dates}}}
  const selectedDate = document.getElementById("date")
  selectedDate.addEventListener('change', function(event){ const selected =
  event.target.value const dayDates = dates.filter(x => x.date === selected) })
</script>