<div class="view-container">
  <h1 class="view-title">Agenda</h1>

  <div class="form-container-planning">
    <form action="/dates/list/confirmedPlanning" method="get" class="d-flex flex-row align-items-center justify-content-end input-group-text">
      <label for="fecha" class="form-label-planning"><strong>Selecciona un día:</strong></label>
      <input type="date" id="fecha" name="fecha" class="form-input m-2" />
      <button type="submit" class="btn ms-1"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>

  <div class="dates-container">
    {{#each turns as |turn|}}
      <div class="turn-container">
        {{#dateInTurn ../dates turn}}
          {{#each ../dates as | date |}}
            {{#ifTurns date turn}}
              <div class="card d-flex flex-row align-items-center mb-1">
                <div class="col-3 d-flex flex-column p-1">
                  <div class="text-center">
                    <p>TURNO:</p>
                  </div>
                  <div class="text-center">
                    <hp>{{date.turn}}</hp>
                  </div>                   
                </div>
                <div class="col-6 pl-li ms-2">                  
                  <p><strong>Cliente: </strong>{{date.user.name}} {{date.user.surname}}</p>
                  <p><strong>Servicio: </strong>{{date.service.name}}</p>
                  <p><strong>Tipo: </strong>{{date.type}}</p>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-center">
                  <a href="/dates/{{date.id}}/update" class="btn btn-pink pl-editbtn m-1 ">Editar</a>
                </div>
              </div>
              {{/ifTurns}}
          {{/each}}        
        {{else}}
          <div class="card d-flex flex-row align-items-center mb-1">
            <div class="col-3 d-flex flex-column p-1">
              <div class="text-center">
                <p>TURNO:</p>
              </div>
              <div class="text-center">
                <hp>{{turn}}</hp>
              </div>                   
            </div>
            <div class="col-9 d-flex align-items-center justify-content-center">
              <h5>No hay citas agendadas</h5>
            </div>
          </div>
          {{/dateInTurn}}
      </div>
    {{/each}}
  </div>

  <div class="button-container text-center mt-3">
    <a href="/dates/list/confirmed" class="btn btn-green col-12">Volver atrás</a>
  </div>
</div>

<script>
  const dates =
  {{{dates}}}
  const selectedDate = document.getElementById("date")
  selectedDate.addEventListener('change', function(event){ const selected =
  event.target.value; const dayDates = dates.filter(x => x.date === selected) })
</script>